.button{
  -fx-background-color: rgba(175, 145, 240, 0.44);
  -fx-background-radius: 30 30 30 30;
  -fx-text-fill: #FFCB3E;
}

.button:hover{
  -fx-background-color: #7D7CF9;
  -fx-background-radius: 30 30 30 30;
}

.button:pressed{
  -fx-background-color: #8a1d24;
  -fx-background-radius: 30 30 30 30;
}

.anchorPane{
  -fx-background-color:  linear-gradient( rgba(59, 236, 241, 0.52), rgba(95, 87, 169, 0.22));
}

.text-field{
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-prompt-text-fill: #618196;
  -fx-border-style: solid ;
  -fx-border-width: 0 0 .5px  0 ;
}

.text-field:hover{
  -fx-background-color: rgba(84, 109, 149, 0.17);
  -fx-prompt-text-fill: #273dd0;
  -fx-text-fill: blue;
  -fx-border-style: solid ;
  -fx-border-width: 0 0 1px  0 ;
}

.choice-box{
  -fx-background-color: rgba(146, 96, 198, 0.26);
}



